.about-me {
    width: 100%;
    height: 100vh;
}

@media only screen and (max-width: 812px) {
    
    .about-title {
        width: 100%;
        height: 10%;
    }

    .light {
        width: 30%;
        /* margin: 3rem; */
        padding: 1rem;
        border: 1px solid white;
        text-align: center;
    }

    .light h1 {
        font-size: 1rem;
        text-transform: uppercase;

    }

    .profile-card-area {
        height: 90%;
        width: 100%;
    }
    
}


