.my-work {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-work h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

.buttons-container{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.buttons-container button {
    background: none;
    color: aliceblue;
    border: 0;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    margin: 10px;
}

.buttons-container button:hover {
    color: tomato;
}

.buttons-container button:active {
    color: violet;
}


.cards-grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 5%;
}

.work-card {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 1.2rem;
    flex-wrap: wrap;
}

.work-card img {
    max-width: 250px;
    height: 200px;
}

